{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<div>
    Login
    <form action="" method='POST'>
        {% csrf_token %}
        {% for form in form %}
        <div>
            {{ form.label_tag }}
        </div>
        <div>
            {{ form }}
        </div>
        {% if form.errors %}
        <p class="text-red-600">
            {{ form.errors }}
        </p>
        {% endif %}
        {% endfor %}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock content %}