{% extends "base.html" %}
{% load static %}
{% block title %}{% endblock title %}
{% block content %}
<div class="container mx-auto">
    <form action="" method="POST">
        {% csrf_token %}
        {% for form in form %}
        <div>
            {{ form.label_tag }}
        </div>
        <div>
            {{ form }}
        </div>
        {% if form.errors %}
        <p class="text-red-600">
            {{ form.errors }}
        </p>
        {% endif %}
        {% endfor %}
        <button type="submit">Sing Up</button>
    </form>
</div>
{% endblock content %}