<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>HoloForex{% block title %}{% endblock title %}</title>
</head>
<body class="">
    <nav>
        <div class="flex justify-around bg-white py-8 items-center">
            <ul></ul>
            <ul class="flex space-x-2">
                <li class="mx-2">
                    <a href="{% url "home" %}">Home</a>
                </li>
                <li class="mx-2">
                    <a href="{% url "about" %}">About Us</a>
                </li>
                <li class="relative mx-2 group">
                    <a href="#" class="inline-block px-4 hover:text-blue-600">Learning</a>
                    <ul class="absolute hidden group-hover:block bg-white border mt-2 rounded shadow-md w-40 z-10">
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Learn to Trade</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Market to Trade</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Trading Platform</a>
                        </li>
                        <li>
                            <a href="#" class="block px-4 py-2 hover:bg-gray-100">Learn to Invest</a>
                        </li>
                    </ul>
                </li>
                
                <li class="mx-2">
                    <a href="#">Brokers Review</a>
                </li>
                <li class="mx-2">
                    <a href="{% url "blog" %}">Blogs</a>
                </li>
                <li class="mx-2">
                    <a href="#">Contact US</a>
                </li>
            </ul>
            <ul class='flex space-x-2'>
                {% if user.is_authenticated %}
                <li>
                    <a href="#">My Account</a>
                </li>
                <li>
                    <a href="{% url "logout" %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url "login" %}">Login</a>
                </li>
                <li>
                    <a href="{% url "singup" %}">Sing Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <footer>

    </footer>
</body>
</html>