<!DOCTYPE html>
{% load static tailwind_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <title>HoloForex{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav>
        <div class="flex justify-around">
            <ul></ul>
            <ul>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Learning</a>
                </li>
                <li>
                    <a href="#">Brokers Review</a>
                </li>
                <li>
                    <a href="#">Blogs</a>
                </li>
                <li>
                    <a href="#">Contact US</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Sing Up</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock content %}

    <footer>

    </footer>
</body>
</html>